body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-container {
  position: relative;
  width: 50px; 
  }

#breed-dropdown {
  width: 20%;
  padding: 10px;
  appearance: none; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#breed-info {
  margin-top: 20px;
}

#breed-image {
  max-width: 30%;
  margin-top: 20px;
}
